html { 
  font-family: sans-serif;
  max-width: 800px;
  min-width:300px;
  width:100%;
  /*margin auto means centered horizontally*/
  margin: auto;
  padding-right: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  overflow-wrap:break-word;
  box-sizing: border-box;
  background-color: #24292E;
  line-height: 1.5;
  color: #FBF462;
  /*This is the base font-size. All other font-size 
  use rem units that are
  relative to this font-size.*/
  /*width greater than 600 px*/
  font-size: 34px;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
  max-width: 800px;
  margin: 0;
  padding:0;
  font-size: 20px;
  line-height: 1.5;
  color: #9DA5B4;
  background-color: #24292E;
}

/*CSS Reset*/
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
 margin: 0;
 padding: 0;
 border: 0;
 border-style: none;
 outline: 0;
 font-family: 'Roboto', sans-serif;
 vertical-align: baseline;
 background: transparent;
}

a:link, a:visited {
  color:inherit;
  text-decoration: none;
}

a:hover, a:active {
  color:inherit;
  text-decoration: none;
}

.summary_container {
  display: grid;
  background-color: #333842;
  border: 1px solid #181A1F;
  border-radius: 5px;
  margin:40px;
}

.crate_summary {
  width:100%; 
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.crate_summary_cell {
  background-color: #181A1F;
  padding: 0px;
  border: 1px solid #000;
  text-align: center;
}

.version_summary_cell {
  padding: 0px;
  border: 1px solid #000;
  text-align: center;
}

.review_container {
  display: grid;
  background-color: #333842;
  border: 1px solid #181A1F;
  border-radius: 5px;
  margin:40px;
}

.review_header {
  display: flex;
  justify-content: space-around;
  background-color: #181A1F;
  padding: 10px;
}

.review_header_cell {
  padding: 0px;
  #border: 1px solid #000;
  text-align: center;
}

.review_alternative {
  display: flex;
  justify-content: space-around;
  background-color: #1B1D23;
  padding: 10px;
  color:yellow;
}

.review_issue {
  display: flex;
  justify-content: space-around;
  background-color: #1B1D23;
  padding: 10px;
  color:orange;
}

.review_advisory {
  display: flex;
  justify-content: space-around;
  background-color: #1B1D23;
  padding: 10px;
  color:red;
}

.review_comment {
  padding: 20px;
  padding-top: 20px;
  font-family: sans-serif;
  font-size: 20px;
  word-wrap: break-word;
  overflow-wrap:break-word;
  #white-space: pre-line;
  overflow: hidden;
}

.bold {
  font-weight: bold;
}

.white {
  /*#color: #D6D8DA;*/
  color:white;
}
.greener {
  color: Chartreuse;
}
.green {
  color: green;
}
.yellow{
color:yellow;
}
.orange{
  color:orange;
}
.red{
  color:red;
}

div.middle{
    display: grid;
    align-items: center;
}

div.right{
 text-align: right;
}