<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>review author</title>
    <meta name="Description" content="web app for viewing reviews from cargo-crev" />
    <link rel="stylesheet" data-su_css_route="href" href="../web_content_folder/css/rust-reviews.css" />
    <meta name="viewport" content="width = device-width,initial-scale = 1.0" />
    <link rel="shortcut icon" type="image/x-icon" data-su_favicon_route="href" href="../favicon.png" />
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
</head>

<body>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <div class="media_header_grid_02">
                <div class="top" style="padding-right: 20%;">
                    <a href="https://github.com/crev-dev/cargo-crev" target="_blank">
                        <img style="width:100%;max-width:300px;min-width:150px;" alt="logo" data-su_img_src_logo="src" src="../web_content_folder/images/Logo_02.png" />
                    </a>
                </div>
                <div class="middle">
                    <p class="big bold"><a class="white" href="/rust-reviews/">Rust code reviews</a></p>
                    <p class="small white">Cryptographically verifiable, distributed, dependency reviews.</p>
                    <p class="big h3y bold">author name:
                        <!--st_author_name-->AuthorName</p>
                    <p>repo:
                        <a class="white" data-su_author_url="href" href="" target="_blank">
                            <!--st_author_url-->https://gitlab.com/crev-dev/auto-crev-proofs</a>
                    </p>
                </div>
                <div class="middle media_right">
                    <p class="big bold"><a class="white" href="https://github.com/crev-dev/cargo-crev" target="_blank">cargo-crev</a></p>
                    <p class="media_right"><a class="white" href="https://www.rust-lang.org/" target="_blank">rust-lang.org</a></p>
                    <p class="media_right"><a class="white" href="https://lib.rs/" target="_blank">lib.rs</a></p>
                    <p class="media_right"><a class="white" href="https://crates.io/" target="_blank">crates.io</a></p>
                    <p class="media_right"><a class="white" href="https://docs.rs/" target="_blank">docs.rs</a></p>
                </div>
            </div>
            <code data-st_cmd_fetch="data-clipboard-text" data-clipboard-text="Click to Copy" data-tooltip="Click to Copy">$ <!--st_cmd_fetch-->cargo crev repo fetch url https://gitlab.com/crev-dev/auto-crev-proofs</code><br/>
            <code data-st_cmd_trust="data-clipboard-text" data-clipboard-text="Click to Copy" data-tooltip="Click to Copy">$ <!--st_cmd_trust-->cargo crev id trust 24YKeuThJD_NFSlJy_xcl5diSZcKcRbh-0zXM0YxTOFJw</code>
            <p class="media_portrait_visible blink">Please, use mobile in landscape.</p>
        </div>
        <div class="review_header_0" style="grid-template-columns: 20fr 20fr 20fr 20fr 20fr;">
            <div class="review_header0_cell white">
                crate version
            </div>
            <div class="review_header0_cell green bold">
                rating</div>
            <div class="review_header0_cell">
                date</div>
            <div class="review_header0_cell">
                review author
            </div>
            <div class="review_header0_cell">
                thoroughness, understanding</div>
        </div>
    </div>

    <!--stmplt_reviews start-->
    <div class="container_0">
        <div class="review_header_0" style="grid-template-columns: 20fr 20fr 20fr 20fr 20fr;">
            <div class="review_header0_cell white">
                <a class="white" data-su_crate_route="href" href="">
                    <!--st_crate_name_version-->num-traits 0.2.11</a>
            </div>
            <div data-st_rating_class_color="class" class="review_header0_cell green bold" title="rating">
                <!--st_review_rating-->positive</div>
            <div class="review_header0_cell">
                <!--st_review_date-->2020-01-18</div>
            <div class="review_header0_cell">
                <!--st_review_author-->author_name
            </div>
            <div class="review_header0_cell" title="thoroughness understanding">
                <!--st_crate_thoroughness_understanding-->none high</div>
        </div>
        <!--sb_has_alternatives-->
        <div class="review_info_header color_alternative" style="grid-template-columns: auto auto auto ;">
            <div class="review_header0_cell">alternative:</div>
            <div class="review_header0_cell">
                <a target="_blank" data-su_alternative_source="href" href="https://github.com/rust-num/num-traits/advisory/125">
                    <!--st_alternative_source-->alternative.source </a>
            </div>
            <div class="review_header0_cell">
                <!--st_alternative_name-->alternative.name</div>
        </div>
        <!--stmplt_issues start-->
        <div class="review_info_header color_issue" style="grid-template-columns: auto auto auto auto ;">
            <div class="review_header0_cell">issues:</div>
            <div class="review_header0_cell">
                <a target="_blank" data-su_issue_id="href" href="https://github.com/rust-num/num-traits/advisory/125">
                    <!--st_issue_id-->https://github.com/rust-num/num-traits/issues/125</a>
            </div>
            <div class="review_header0_cell" title="severity">
                <!--st_issue_severity-->medium</div>
            <div class="review_header0_cell" title="comment">
                <!--st_issue_comment-->comment</div>
        </div>
        <!--stmplt_issues end-->
        <!--sb_has_advisories-->
        <div class="review_info_header color_advisory" style="grid-template-columns: auto auto auto auto;">
            <div class="review_header0_cell">advisories:</div>
            <div class="review_header0_cell">
                <a target="_blank" data-su_advisories_ids="href" href="https://github.com/rust-num/num-traits/advisory/125">
                    <!--st_advisories_ids-->https://github.com/rust-num/num-traits/advisory/125 </a>
            </div>
            <div class="review_header0_cell" title="severity">
                <!--st_advisories_severity-->medium</div>
            <div class="review_header0_cell" title="range">
                <!--st_advisories_range-->major</div>
        </div>
        <!--sb_has_old_advisory-->
        <div class="review_info_header color_advisory" style="grid-template-columns: auto auto auto;">
            <div class="review_header0_cell">advisory:</div>
            <div class="review_header0_cell" title="affected">
                <!--st_advisory_affected-->medium</div>
            <div class="review_header0_cell" title="critical">
                <!--st_advisory_critical-->major</div>
        </div>
        <div class="review_comment" style="word-wrap: break-word;overflow-wrap:break-word;">
            <!--st_review_comment-->num-traits provides traits for writing code generic over numeric types and implementations for built-in numeric types. I exclusively reviewed unsafe code. num-traits uses some instances of unsafe code. Each unsafe block has a comment explaining
            why it is required and why it is sound. The blocks are easy to understand and check locally.
        </div>
    </div>
    <!--stmplt_reviews end-->
    <!--stmplt_not_for_render start-->
    <!--this div is here only for the graphical designer 
            to see how it looks to have 2 or more reviews 
        In runtime it is not rendered.-->
    <div class="container_0">
        <div class="review_header_0" style="grid-template-columns: 20fr 20fr 20fr 20fr 20fr;">
            <div class="review_header0_cell">num-traits 0.2.6</div>
            <div class="review_header0_cell green bold">positive</div>
            <div class="review_header0_cell">2019-08-30</div>
            <div class="review_header0_cell white">Heroic_User</div>
            <div class="review_header0_cell">medium high</div>
        </div>

        <div class="review_comment">Not quite ready for untrusted input due to panics and not fuzzed. Minor soundness concerns for floating point operations, rooted in Rust language `as` operator not having fully specified behavior (yet). All is well for the integer part of the
            library.
        </div>
    </div>
    <!--stmplt_not_for_render end-->
    <div class="container_0 ">
        <div class="container0_content_not_grid ">
            <p>GitHub repository:
                <a class="white break-all " target="blank " href="https://github.com/LucianoBestia/cargo_crev_web/ ">
                        https://github.com/LucianoBestia/cargo_crev_web/
                  </a>
            </p>
            <p>Version:
                <!--st_cargo_crev_web_version-->2020.05.05</p>
        </div>
    </div>

</body>
<script>
    new ClipboardJS("[data-clipboard-text]");
</script>

</html>