<svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" data-st_width="width" width="90" data-st_height="height" height="20">
  <linearGradient id="b" x2="0" y2="100%">
      <stop offset="0" stop-color="#bbb" stop-opacity=".1"/>
      <stop offset="1" stop-opacity=".1"/>
    </linearGradient>
  <clipPath id="a">
    <rect data-st_width="width" width="90" data-st_height="height" height="20" rx="3" fill="#fff"/>
  </clipPath>
  <g clip-path="url(#a)">
    <path fill="#555" data-st_d1="d" d="M0 0h40v20H0z"/>
    <path data-st_badge_color="fill" fill="#6c3" data-st_d2="d" d="M40 0h50v20H40z"/>
    <path fill="url(#b)" data-st_d3="d" d="M0 0h90v20H0z"/>
  </g>
  <g fill="#fff" text-anchor="middle" font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="11">
    <text data-st_subject_x="x" x="20.0" y="15" fill="#010101" fill-opacity=".3"><!--st_subject_text-->build</text>
    <text data-st_subject_x="x" x="20.0" y="14"><!--st_subject_text-->build</text>
    <text data-st_status_x="x" x="65.0" y="15" fill="#010101" fill-opacity=".3"><!--st_status_text-->passing</text>
    <text data-st_status_x="x" x="65.0" y="14"><!--st_status_text-->passing</text>
  </g>
</svg>