<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>crev crates</title>
    <meta name="Description" content="web app for viewing reviews from cargo-crev" />
    <link rel="stylesheet" data-su_css_route="href" href="../web_content_folder/css/rust-reviews.css" />
    <meta name="viewport" content="width = device-width,initial-scale = 1.0" />
    <link rel="shortcut icon" type="image/x-icon" data-su_favicon_route="href" href="favicon.png" />
</head>

<body>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <div class="media_header_grid_02">
                <div class="top" style="padding-right: 20%;">
                    <a href="https://github.com/crev-dev/cargo-crev" target="_blank">
                        <img style="width:100%;max-width:300px;min-width:150px;" alt="logo" data-su_img_src_logo="src" src="../web_content_folder/images/Logo_02.png" />
                    </a>
                </div>
                <div class="middle">
                    <p class="big bold"><a class="c_link_1" href="/rust-reviews/">Rust code reviews</a></p>
                    <p class="small c_white">Cryptographically verifiable, distributed, dependency reviews.</p>
                    <p class="big h3y bold">list of crates with summary</p>
                </div>
                <div class="middle media_right">
                    <p class="big bold"><a class="c_link_1" href="https://github.com/crev-dev/cargo-crev" target="_blank">cargo-crev</a></p>
                    <p class="media_right"><a class="c_link_1" href="https://www.rust-lang.org/" target="_blank">rust-lang.org</a></p>
                    <p class="media_right"><a class="c_link_1" href="https://lib.rs/" target="_blank">lib.rs</a></p>
                    <p class="media_right"><a class="c_link_1" href="https://crates.io/" target="_blank">crates.io</a></p>
                    <p class="media_right"><a class="c_link_1" href="https://docs.rs/" target="_blank">docs.rs</a></p>
                </div>
            </div>
            <p class="media_portrait_visible blink">Please, use mobile in landscape.</p>
            <p>Legend of column names on <a class="c_link_1" href="/rust-reviews/">first page</a> and in tooltip hints.</p>
        </div>
    </div>
    <div class="container_0">
        <div class="container0_content_grid_0" style="grid-template-columns: 5fr 42fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr;">
            <div class="grid0_h_c bold" title="ordinal number">o</div>
            <div class="grid0_h_c bold">crate</div>
            <div class="grid0_h_c bold" title="reviews count">c</div>
            <div class="grid0_h_c bold" title="unique versions count">u</div>
            <div class="grid0_h_c bold" title="unique authors count">h</div>
            <div class="grid0_h_c bold c_strong" title="rating strong">S
            </div>
            <div class="grid0_h_c bold c_positive " title="rating positive">
                P</div>
            <div class="grid0_h_c bold" title="rating neutral">E</div>
            <div class="grid0_h_c bold c_negative" title="rating negative">N
            </div>
            <div class="grid0_h_c bold" title="rating none">0
            </div>
            <div class="grid0_h_c c_alternative" title="alternatives">v</div>
            <div class="grid0_h_c c_issue" title="issues">i</div>
            <div class="grid0_h_c c_advisory" title="advisories">a</div>

            <!--stmplt_crate_summary start-->
            <div class="grid0_c bold" title="ordinal_number">
                <!--st_ordinal_number-->1</div>
            <div class="grid0_c bold">
                <a data-su_crate_route="href" href="">
                    <!--st_crate_name-->crate_name</a>
            </div>
            <div class="grid0_c bold" title="reviews count">
                <!--st_count_of_reviews-->7</div>
            <div class="grid0_c bold" title="unique versions">
                <!--st_unique_versions-->7</div>
            <div class="grid0_c bold" title="unique authors">
                <!--st_unique_authors-->7</div>
            <div class="grid0_c grid0_c_r bold c_strong" title="rating strong">
                <!--st_count_of_rating_strong-->2</div>
            <div class="grid0_c grid0_c_r bold c_positive " title="rating positive">
                <!--st_count_of_rating_positive-->3</div>
            <div class="grid0_c grid0_c_r bold" title="rating neutral">
                <!--st_count_of_rating_neutral-->2</div>
            <div class="grid0_c grid0_c_r bold c_negative" title="rating negative">
                <!--st_count_of_rating_negative-->1</div>
            <div class="grid0_c grid0_c_r bold" title="rating none">
                <!--st_count_of_rating_none-->1</div>
            <div class="grid0_c c_alternative" title="alternatives">
                <!--st_count_of_alternatives-->2</div>
            <div class="grid0_c c_issue" title="issues">
                <!--st_count_of_issues-->1</div>
            <div class="grid0_c c_advisory" title="advisories">
                <!--st_count_of_advisories-->1</div>
            <!--stmplt_crate_summary end-->
        </div>
    </div>
    <div class="container_0 ">
        <div class="container0_content_not_grid ">
            <p>GitHub repository:
                <a class="c_link_1 break-all " target="blank " href="https://github.com/LucianoBestia/cargo_crev_web/ ">
                        https://github.com/LucianoBestia/cargo_crev_web/
                  </a>
            </p>
            <p>Version:
                <!--st_cargo_crev_web_version-->2020.05.05</p>
        </div>
    </div>
</body>

</html>