<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>cargo-crev</title>
    <meta name="Description" content="Rust code reviews from cargo-crev" />
    <link rel="stylesheet" data-su_css_route="href" href="../web_content_folder/css/rust-reviews.css" />
    <meta name="viewport" content="width = device-width,initial-scale = 1.0" />
    <link rel="shortcut icon" type="image/x-icon" data-su_favicon_route="href" href="favicon.png" />
</head>

<body>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <div class="media_header_grid_02">
                <div class="middle" style="padding-right: 5%;">
                    <a href="https://github.com/crev-dev/cargo-crev" target="_blank">
                        <img alt="logo" data-su_img_src_logo="src" src="../web_content_folder/images/Logo_02.png" />
                    </a>
                </div>
                <div class="middle" style="padding-left:5%">
                    <p class="big bold"><a class="white" href="/rust-reviews/">Rust code reviews</a></p>
                    <p class="small white">Cryptographically verifiable, distributed, dependency reviews.</p>
                    <div>
                        <h3 class="h3y">crates, authors, reviews, ratings,...</h3>
                    </div>
                </div>
                <div class="middle media_right">
                    <h3>reviews from <a class="white" href="https://github.com/crev-dev/cargo-crev" target="_blank">cargo-crev</a></h3>
                    <div class="media_right"><a class="white" href="https://www.rust-lang.org/" target="_blank">rust-lang.org</a></div>
                    <div class="media_right"><a class="white" href="https://lib.rs/" target="_blank">lib.rs</a></div>
                    <div class="media_right"><a class="white" href="https://crates.io/" target="_blank">crates.io</a></div>
                </div>
            </div>
        </div>
        <div class="container0_content_grid_0" style="grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;">

            <div class="grid0_h_c bold" title="unique crates count">c</div>
            <div class="grid0_h_c bold" title="unique authors count">h</div>
            <div class="grid0_h_c bold" title="reviews count">r</div>
            <div class="grid0_h_c bold greener" title="rating strong">S
            </div>
            <div class="grid0_h_c bold green " title="rating positive">
                P</div>
            <div class="grid0_h_c bold" title="rating neutral">E</div>
            <div class="grid0_h_c bold red" title="rating negative">N
            </div>
            <div class="grid0_h_c bold" title="rating none">-
            </div>
            <div class="grid0_h_c"></div>
            <div class="grid0_h_c yellow" title="alternatives">v</div>
            <div class="grid0_h_c orange" title="issues">i</div>
            <div class="grid0_h_c red" title="advisories">a</div>

            <div class="grid0_c bold">
                <a title="unique crates count">
                    <!--st_unique_crates-->222</a>
            </div>
            <div class="grid0_c bold" title="unique authors count">
                <!--st_unique_authors-->45</div>
            <div class="grid0_c bold" title="reviews count">
                <!--st_count_of_reviews-->333</div>
            <div class="grid0_c bold greener" title="rating strong">
                <!--st_count_of_rating_strong-->2</div>
            <div class="grid0_c bold green " title="rating positive">
                <!--st_count_of_rating_positive-->3</div>
            <div class="grid0_c bold" title="rating neutral">
                <!--st_count_of_rating_neutral-->2</div>
            <div class="grid0_c bold red" title="rating negative">
                <!--st_count_of_rating_negative-->1</div>
            <div class="grid0_c bold" title="rating none">
                <!--st_count_of_rating_none-->1</div>
            <div class="grid0_c"></div>
            <div class="grid0_c yellow" title="alternatives">
                <!--st_count_of_alternatives-->2</div>
            <div class="grid0_c orange" title="issues">
                <!--st_count_of_issues-->1</div>
            <div class="grid0_c red" title="advisories">
                <!--st_count_of_advisories-->1</div>
        </div>
    </div>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <img style="display: block;margin-left:auto;margin-right:auto;width:100%;min-width:250px;max-width:600px;" alt="legend" src="https://web.crev.dev/rust-reviews/images/legend01.svg" />
            <h2 class="h2u">Try it out</h2>
            <p>
                <a class="white" href="/rust-reviews/crates/">
                        /rust-reviews/crates/
                  </a>
            </p>
            <p>
                <a class="white" href="/rust-reviews/authors/">
                        /rust-reviews/authors/
                  </a>
            </p>
            <p>Examples:</p>
            <p>
                <a class="white break-all" href="/rust-reviews/author/FYlr8YoYGVvDwHQxqEIs89reKKDy-oWisoO0qXXEfHE/">
                        /rust-reviews/author/FYlr8YoYGVvDwHQxqEIs89reKKDy-oWisoO0qXXEfHE/
                  </a>
            </p>
            <p>
                <a class="white" href="/rust-reviews/crate/num-traits/">
                        /rust-reviews/crate/num-traits/
                  </a>
            </p>
            <p>Helper to write a new review:</p>
            <p>
                <a class="white" href="/rust-reviews/review_new/">
                    /rust-reviews/review_new/
                  </a>
            </p>
        </div>
    </div>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <h1>Crev Vision</h1>
            <a class="white" href="https://web.crev.dev/">Crev</a> is a scalable, social, Code REView and recommendation system that we desperately need
            <br/>for establishing trust in Open Source code.
            <br/>It is designed to be used with many different languages and ecosystems.
        </div>
    </div>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <h2 class="h2u">cargo-crev</h2>
            <p><code>cargo-crev</code> is a cryptographically verifiable code review system for the cargo (Rust) package manager.</p>
            <p>It is open source on GitHub: <a class="white" target="_blank" href="https://github.com/crev-dev/cargo-crev">https://github.com/crev-dev/cargo-crev</a></p>
            <p>It is a CLI program that is installed and runs locally on the developer computer.</p>
            <p>Read the <a class="white" href="https://github.com/crev-dev/cargo-crev/blob/master/cargo-crev/src/doc/getting_started.md">Getting Started Guide</a></p>
            <p>It is recommended to always verify the trustworthiness of each of the dependencies in your Rust project.</p>
            <p>There can be hundreds of transient dependencies. Do you trust them all?</p>
            <p>Simply run <code>$ cargo crev verify</code> in your Rust project folder.</p>
            <p>Find out what other developers have to say about a crate. And especially a specific version of a crate.</p>
            <p>There can be advisories or issues or better alternatives. Or maybe it is the best crate version so far.</p>
            <p>Write your review of a crate you trust and help other developers to trust that crate.</p>
        </div>
    </div>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <h2 class="h2u">rust-reviews</h2>
            <p>
                This web page <code>Rust code reviews</code> is built to enable all developers to view crev reviews fast and effortlessly.
                <br /> There is no installation, initialization or learning needed. It is just a simple web page.
                <br /> It simply shows the list of reviews for a crate.
                <br /> Give it a try!
            </p>
        </div>
    </div>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <h2 class="h2u">badges <img alt="badge" src="https://web.crev.dev/rust-reviews/badge/crev_count/reader_for_microxml.svg" /></h2>
            <p>Include a badge to your crate readme.md to show the count of crev reviews.
                <br/> The more reviews the crate has, more trusted it should be.
                <br/> It is also a link to your crate reviews here on Rust code reviews.
                <br />Markdown code:</p>
            <p><code class="break-all">[![crev reviews](https://web.crev.dev/rust-reviews/badge/crev_count/reader_for_microxml.svg)](https://web.crev.dev/rust-reviews/crate/reader_for_microxml/)</code></p>
            <p class="break-all">See example here: <a class="white" href="https://github.com/LucianoBestia/reader_for_microxml/">https://github.com/LucianoBestia/reader_for_microxml/</a></p>
        </div>
    </div>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <h2 class="h2u">web of trust</h2>
            <p>
                This webpage shows all reviews from all developers.
                <br/>But do you personally trust all developers?
                <br/>New crev reviews can be written by anybody and published publicly on GitHub.
                <br/>From there they are available to all.
                <br /> We need a system to trust this persons to trust their reviews.
                <br/><code>cargo-crev</code> has a list of trusted persons.
                <br/>But we personally only know a limited number of trusted persons.
                <br/>To make this circle bigger we need more people to trust.
                <br/>When we trust somebody for reviews, we usually also trust their choices to trust other people.
                <br/>So we can transiently trust also them. A little less, but still trust them.
                <br />This is an important part of the <code>web of trust</code>.
                <br />It is common in every day life that the friends of our friends are probably also our friends.
                <br/>This can be configured in your local personal cargo-crev CLI program.
            </p>
        </div>
    </div>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <h2 class="h2u">CREV - Rust code reviews - Raise awareness</h2>
            <p>Add this text to your project's readme.md:</p>
            <p>
                ## CREV - Rust code reviews - Raise awareness
                <br/>
                <br/>Please, spread this info !\
                <br/>Open source code needs a community effort to express trustworthiness.\
                <br/>Start with reading the reviews of the crates you use. Example: [web.crev.dev/rust-reviews/crate/num-traits/](https://web.crev.dev/rust-reviews/crate/num-traits/) \
                <br/>Than install the CLI [cargo-crev](https://github.com/crev-dev/cargo-crev)\. Read the [Getting Started guide](https://github.com/crev-dev/cargo-crev/blob/master/cargo-crev/src/doc/getting_started.md). \
                <br/>On your Rust project, verify the trustworthiness of all dependencies, including transient dependencies with `cargo crev verify`\
                <br/>Write a new review ! \
                <br/>Describe the crates you trust. Or warn about the crate versions you think are dangerous.\
                <br/>Help other developers, inform them and share your opinion.\
                <br/>Use the helper on this webpage: [web.crev.dev/rust-reviews/review_new](https::/web.crev.dev/rust-reviews/review_new)\
                <br/>\
            </p>
        </div>
    </div>
    <div class="container_0 ">
        <div class="container0_content_not_grid ">
            <p>GitHub repository:
                <a class="white break-all " target="_blank " href="https://github.com/LucianoBestia/cargo_crev_web/ ">
                        https://github.com/LucianoBestia/cargo_crev_web/
                  </a>
            </p>
            <p>Version:
                <!--st_cargo_crev_web_version-->2020.05.05</p>
        </div>
    </div>

</body>

</html>