<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>cargo-crev</title>
    <meta name="Description" content="Rust code reviews from cargo-crev" />
    <link rel="stylesheet" data-su_css_route="href" href="../web_content_folder/css/rust-reviews.css" />
    <meta name="viewport" content="width = device-width,initial-scale = 1.0" />
    <link rel="shortcut icon" type="image/x-icon" data-su_favicon_route="href" href="favicon.png" />
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
</head>

<body>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <div class="media_header_grid_02">
                <div class="top" style="padding-right: 20%;">
                    <a href="https://github.com/crev-dev/cargo-crev" target="_blank">
                        <img style="width:100%;max-width:300px;min-width:150px;" alt="logo" data-su_img_src_logo="src" src="../web_content_folder/images/Logo_02.png" />
                    </a>
                </div>
                <div class="middle">
                    <p class="big bold"><a class="c_link_1" href="/rust-reviews/">Rust code reviews</a></p>
                    <p class="small c_white">Cryptographically verifiable, distributed, dependency reviews.</p>
                    <h3 class="h3y">crates, authors, reviews, ratings,...</h3>
                    <p>Jump to crate (press Enter): <input type="text" style="width:300px" value="num-traits" onkeyup="if (event.key === 'Enter') {window.location.href='/rust-reviews/crate/'+this.value+'/';}" /></p>
                </div>
                <div class="middle media_right">
                    <h3>reviews from <a class="c_link_1" href="https://github.com/crev-dev/cargo-crev" target="_blank">cargo-crev</a></h3>
                    <div class="media_right"><a class="c_link_1" href="https://www.rust-lang.org/" target="_blank">rust-lang.org</a></div>
                    <div class="media_right"><a class="c_link_1" href="https://lib.rs/" target="_blank">lib.rs</a></div>
                    <div class="media_right"><a class="c_link_1" href="https://crates.io/" target="_blank">crates.io</a></div>
                    <div class="media_right"><a class="c_link_1" href="https://docs.rs/" target="_blank">docs.rs</a></div>
                </div>
            </div>
            <p class="media_portrait_visible blink c_alert">Please, use mobile in landscape.</p>
        </div>
        <div class="container0_content_grid_0" style="grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;">
            <div class="grid0_h_c bold" title="unique crates count">c</div>
            <div class="grid0_h_c bold" title="unique authors count">h</div>
            <div class="grid0_h_c bold" title="reviews count">r</div>
            <div class="grid0_h_c bold c_strong" title="rating strong">S
            </div>
            <div class="grid0_h_c bold c_positive " title="rating positive">
                P</div>
            <div class="grid0_h_c bold c_neutral" title="rating neutral">E</div>
            <div class="grid0_h_c bold c_negative" title="rating negative">N
            </div>
            <div class="grid0_h_c bold c_none" title="rating none">0
            </div>
            <div class="grid0_h_c c_alternative" title="alternatives">v</div>
            <div class="grid0_h_c c_issue" title="issues">i</div>
            <div class="grid0_h_c c_advisory" title="advisories">a</div>

            <div class="grid0_c bold">
                <a title="unique crates count" href="/rust-reviews/crates/">
                    <!--st_unique_crates-->222</a>
            </div>
            <div class="grid0_c bold" title="unique authors count" href="/rust-reviews/authors/">
                <!--st_unique_authors-->45</div>
            <div class="grid0_c bold" title="reviews count">
                <!--st_count_of_reviews-->333</div>
            <div class="grid0_c grid0_c_r bold c_strong" title="rating strong">
                <!--st_count_of_rating_strong-->2</div>
            <div class="grid0_c grid0_c_r bold c_positive " title="rating positive">
                <!--st_count_of_rating_positive-->3</div>
            <div class="grid0_c grid0_c_r bold" title="rating neutral">
                <!--st_count_of_rating_neutral-->2</div>
            <div class="grid0_c grid0_c_r bold c_negative" title="rating negative">
                <!--st_count_of_rating_negative-->1</div>
            <div class="grid0_c grid0_c_r bold" title="rating none">
                <!--st_count_of_rating_none-->1</div>
            <div class="grid0_c c_alternative" title="alternatives">
                <!--st_count_of_alternatives-->2</div>
            <div class="grid0_c c_issue" title="issues">
                <!--st_count_of_issues-->1</div>
            <div class="grid0_c c_advisory" title="advisories">
                <!--st_count_of_advisories-->1</div>
        </div>
    </div>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <img style="display: block;margin-left:auto;margin-right:auto;width:100%;min-width:250px;max-width:600px;" alt="legend" src="/rust-reviews/images/legend01.svg" />
            <p>The on_mouse_over tooltip hint also shows the full column names.</p>
            <h2 class="h2u">Try it out</h2>
            <p>
                <a class="c_link_1" href="/rust-reviews/crates/">
                        /rust-reviews/crates/
                  </a>
            </p>
            <p>
                <a class="c_link_1" href="/rust-reviews/authors/">
                        /rust-reviews/authors/
                  </a>
            </p>
            <p>
                <a class="c_link_1" href="/rust-reviews/people_of_rust/">
                    /rust-reviews/people_of_rust/
                  </a>
            </p>
            <p>Examples:</p>
            <p>
                <a class="c_link_1 break-all" href="/rust-reviews/author/FYlr8YoYGVvDwHQxqEIs89reKKDy-oWisoO0qXXEfHE/">
                        /rust-reviews/author/FYlr8YoYGVvDwHQxqEIs89reKKDy-oWisoO0qXXEfHE/
                  </a>
            </p>
            <p>
                <a class="c_link_1" href="/rust-reviews/crate/num-traits/">
                        /rust-reviews/crate/num-traits/
                  </a>
            </p>
            <p>Helper to write a new review:</p>
            <p>
                <a class="c_link_1" href="/rust-reviews/review_new/reader_for_microxml/1.1.11/">
                    /rust-reviews/review_new/reader_for_microxml/1.1.11/
                  </a>
            </p>
            <p>Read questions and answers in discussions:</p>
            <p>
                <a class="c_link_1" target="_blank" href="https://www.reddit.com/r/rust/comments/hl54ye/cargo_crev_online/">
                    https://www.reddit.com/r/rust/comments/hl54ye/cargo_crev_online/
                </a>
            </p>
            <p>
                <a class="c_link_1" target="_blank" href="https://users.rust-lang.org/t/rust-code-reviews-web-site-for-cargo-crev/44480">
                    https://users.rust-lang.org/t/rust-code-reviews-web-site-for-cargo-crev/44480
                </a>
            </p>

        </div>
    </div>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <h1>Crev Vision</h1>
            <a class="c_link_1" href="https://web.crev.dev/">Crev</a> is a scalable, social, distributed Code REView and recommendation system that we desperately need for establishing trust in Open Source code.
            <br/>It is designed to be used with many different languages and ecosystems.
            <br/>At its core Crev defines a simple, human-readable data format to communicate trust in code (results of code review) and people (reputation).
            <br/>Fundamental beliefs of Crev design:
            <br/>- Trust is about people and community, not automatic scans, arbitrary metrics, process or bureaucracy. You can't replace a human judgment with an algorithm. Tools can only help make such a judgment.
            <br/>- Code quality, risk management and trust requirements are subjective, contextual and personal. Islands of Trust must grow organically.
            <br/>- Not many people can review all their dependencies, but if every user at least skimmed through a couple of them, and shared that information with others, we would be in a much better situation.
            <br/>- Trust should be spread redundantly between many people, so one compromised or malicious actor can't abuse the system.
            <br/>- Crev does not have to be perfect. Instead it should be robust, simple and flexible, so it can evolve to be good enough.
        </div>
    </div>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <h2 class="h2u">CREV - Rust code reviews - Raise awareness</h2>
            <p>Add this text to your project's readme.md (Click-to-Copy):</p>
            <textarea style="height:420px;width:95%" data-tooltip="Click to Copy" data-clipboard-text="
## CREV - Rust code reviews - Raise awareness

Please, spread this info !\
Open source code needs a community effort to express trustworthiness.\
Start with reading the reviews of the crates you use. Example: [web.crev.dev/rust-reviews/crate/num-traits/](https://web.crev.dev/rust-reviews/crate/num-traits/) \
Than install the CLI [cargo-crev](https://github.com/crev-dev/cargo-crev)\. Read the [Getting Started guide](https://github.com/crev-dev/cargo-crev/blob/master/cargo-crev/src/doc/getting_started.md). \
On your Rust project, verify the trustworthiness of all dependencies, including transient dependencies with `cargo crev verify`\
Write a new review ! \
Describe the crates you trust. Or warn about the crate versions you think are dangerous.\
Help other developers, inform them and share your opinion.\
Use the helper on this webpage: [web.crev.dev/rust-reviews/review_new](https://web.crev.dev/rust-reviews/review_new)
">## CREV - Rust code reviews - Raise awareness

Please, spread this info !\
Open source code needs a community effort to express trustworthiness.\
Start with reading the reviews of the crates you use. Example: [web.crev.dev/rust-reviews/crate/num-traits/](https://web.crev.dev/rust-reviews/crate/num-traits/) \
Than install the CLI [cargo-crev](https://github.com/crev-dev/cargo-crev)\. Read the [Getting Started guide](https://github.com/crev-dev/cargo-crev/blob/master/cargo-crev/src/doc/getting_started.md). \
On your Rust project, verify the trustworthiness of all dependencies, including transient dependencies with `cargo crev verify`\
Write a new review ! \
Describe the crates you trust. Or warn about the crate versions you think are dangerous.\
Help other developers, inform them and share your opinion.\
Use the helper on this webpage: [web.crev.dev/rust-reviews/review_new](https://web.crev.dev/rust-reviews/review_new)</textarea>
        </div>
    </div>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <h2 class="h2u">cargo-crev</h2>
            <p><code>cargo-crev</code> is a cryptographically verifiable code review system for the cargo (Rust) package manager.</p>
            <p>It is open source on GitHub: <a class="c_link_1" target="_blank" href="https://github.com/crev-dev/cargo-crev">https://github.com/crev-dev/cargo-crev</a></p>
            <p>It is a CLI program that is installed and runs locally on the developer computer.</p>
            <p>Read the <a class="c_link_1" href="https://github.com/crev-dev/cargo-crev/blob/master/cargo-crev/src/doc/getting_started.md">Getting Started Guide</a></p>
            <p>It is recommended to always verify the trustworthiness of each of the dependencies in your Rust project.</p>
            <p>There can be hundreds of transient dependencies. Do you trust them all?</p>
            <p>Simply run <code data-clipboard-text="cargo crev verify" data-tooltip="Click to Copy">$ cargo crev verify</code> in your Rust project folder.</p>
            <p>Find out what other developers have to say about a crate. And especially a specific version of a crate.</p>
            <p>There can be advisories or issues or better alternatives. Or maybe it is the best crate version so far.</p>
            <p>Write your review of a crate you trust and help other developers to trust that crate.</p>
        </div>
    </div>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <h2 class="h2u">rust-reviews</h2>
            <p>
                This web page <code>Rust code reviews</code> is built to enable all developers to view crev reviews fast and effortlessly.
                <br /> There is no installation, initialization, authentication or learning needed. It is just a simple web page.
                <br /> The main goal is to simply show the list of reviews for a crate.
                <br /> Other functionality is secondary and will be gradually upgraded.
                <br /> Use the links to lib.rs, crates.io and other websites for additional information.
                <br /> And use the locally installed cargo-crev for your work, verify your dependency and write code reviews.
                <br /> Give it a try!
            </p>
        </div>
    </div>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <h2 class="h2u">badges <img alt="badge" src="https://web.crev.dev/rust-reviews/badge/crev_count/reader_for_microxml.svg" /></h2>
            <p>Include a badge to your crate readme.md to show the count of crev reviews.
                <br/> The more reviews the crate has, more trusted it should be.
                <br/> It is also a link to your crate reviews here on Rust code reviews.
                <br />Markdown code (Click to Copy):</p>
            <p><code class="break-all" data-clipboard-text="[![crev reviews](https://web.crev.dev/rust-reviews/badge/crev_count/reader_for_microxml.svg)](https://web.crev.dev/rust-reviews/crate/reader_for_microxml/)" data-tooltip="Click to Copy">[![crev reviews](https://web.crev.dev/rust-reviews/badge/crev_count/reader_for_microxml.svg)](https://web.crev.dev/rust-reviews/crate/reader_for_microxml/)</code></p>
            <p class="break-all">See example here: <a class="c_link_1" target="_blank" href="https://github.com/LucianoBestia/reader_for_microxml/">https://github.com/LucianoBestia/reader_for_microxml/</a></p>
        </div>
    </div>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <h2 class="h2u">web of trust</h2>
            <p>
                This webpage shows all reviews from all developers.
                <br/>But do you personally trust all developers?
                <br/>New crev reviews can be written by anybody and published publicly on GitHub.
                <br/>From there they are available to all.
                <br /> We need a system to trust this persons to trust their reviews.
                <br/><code>cargo-crev</code> has a list of trusted persons.
                <br/>But we personally only know a limited number of trusted persons.
                <br/>To make this circle bigger we need more people to trust.
                <br/>When we trust somebody for reviews, we usually also trust their choices to trust other people.
                <br/>So we can transiently trust also them. A little less, but still trust them.
                <br />This is an important part of the <code>web of trust</code>.
                <br />It is common in every day life that the friends of our friends are probably also our friends.
                <br/>This can be configured in your local personal cargo-crev CLI program.
            </p>
        </div>
    </div>
    <div class="container_0 ">
        <div class="container0_content_not_grid ">
            <h2 class="h2u">other links and references</h2>
            <p><a class="c_link_1" href="https://www.youtube.com/watch?v=_xS40wqO8GA&feature=youtu.be" target="_blank">Rust Zürisee, April: cargo crev and cargo audit</a> 1,219 views•May 1, 2020 </p>
            <p>See <a class="c_link_1" href="https://github.com/crev-dev/cargo-crev/wiki/Howto:-Create-Review-Proofs" target="_blank">https://github.com/crev-dev/cargo-crev/wiki/Howto:-Create-Review-Proofs</a> wiki page for more information </p>
            <p>and Frequently Asked Questions, or join <a class="c_link_1" target="_blank" href="https://gitter.im/dpc/crev"> https://gitter.im/dpc/crev</a> discussion channel.</p>
            <p>VSCode extension "crates" will open the Rust review page: <a class="c_link_1" target="_blank" href="https://github.com/serayuzgur/crates">https://github.com/serayuzgur/crates</a> </p>
        </div>
    </div>
    <div class="container_0 ">
        <div class="container0_content_not_grid ">
            <h2 class="h2u">colors</h2>
            <p>You can easily change colors of this webpage with Chrome extension User Css:</p>
            <p><a class="c_link_1" href="https://chrome.google.com/webstore/detail/user-css/okpjlejfhacmgjkmknjhadmkdbcldfcb" target="_blank">https://chrome.google.com/webstore/detail/user-css/okpjlejfhacmgjkmknjhadmkdbcldfcb</a></p>
            <p>While you change the css, it automatically refreshes the webpage with new colors. Cool.</p>
            <p>And then you can save it per website. Great.</p>
            <p>Copy and paste this css variables and then change their values (Click-to-Copy):</p>
            <textarea style="width:95%" data-clipboard-text="/* css variables */
:root {
/* color palette */
/* background color */
--b_color_01: darkblue; /*#24292E*/
--b_color_02: #1B1D23;
--b_color_03: #181A1F;
--b_color_04: #333842;
--b_color_05: dodgerblue;
/* for ratings cells*/
--b_color_06: #23272D;
/* front color */
--f_color_01: #FBF462;
--f_color_02: fuchsia; /*#9DA5B4*/
--f_color_03: #78C379;
--f_color_04: white;
--f_color_05: yellow;
--f_color_06: dark-white;
--f_color_07: black;
/* border color*/
--brd_color_01: #000;
--brd_color_02: #eaecef;
/* color */
--color_r_strong: Chartreuse;
--color_r_positive: Green;
--color_r_medium: orange;
--color_r_neutral: #9DA5B4;
--color_r_negative: red;
--color_r_none: #9DA5B4;
--color_tooltip_1: #000;
--color_tooltip_2: hsla(0, 0%, 20%, 0.9);
--color_tooltip_3: #fff;
}" data-tooltip="Click to Copy">
/* css variables */
:root {
/* color palette */
/* background color */
--b_color_01: darkblue; /*#24292E*/
--b_color_02: #1B1D23;
--b_color_03: #181A1F;
--b_color_04: #333842;
--b_color_05: dodgerblue;
/* for ratings cells*/
--b_color_06: #23272D;
/* front color */
--f_color_01: #FBF462;
--f_color_02: fuchsia; /*#9DA5B4*/
--f_color_03: #78C379;
--f_color_04: white;
--f_color_05: yellow;
--f_color_06: dark-white;
--f_color_07: black;
/* border color*/
--brd_color_01: #000;
--brd_color_02: #eaecef;
/* color */
--color_r_strong: Chartreuse;
--color_r_positive: Green;
--color_r_medium: orange;
--color_r_neutral: #9DA5B4;
--color_r_negative: red;
--color_r_none: #9DA5B4;
--color_tooltip_1: #000;
--color_tooltip_2: hsla(0, 0%, 20%, 0.9);
--color_tooltip_3: #fff;
}</textarea>
        </div>
    </div>

    <div class="container_0 ">
        <div class="container0_content_not_grid ">
            <p>GitHub repository:
                <a class="c_link_1 break-all " target="blank " href="https://github.com/LucianoBestia/cargo_crev_web/ ">
                        https://github.com/LucianoBestia/cargo_crev_web/
                  </a>
            </p>
            <p>Version:
                <!--st_cargo_crev_web_version-->2020.05.05</p>
        </div>
    </div>

</body>
<script>
    new ClipboardJS("[data-clipboard-text]");
</script>

</html>