<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>cargo-crev</title>
    <meta name="Description" content="Rust code reviews from cargo-crev" />
    <link rel="stylesheet" data-su_css_route="href" href="../web_content_folder/css/rust-reviews.css" />
    <meta name="viewport" content="width = device-width,initial-scale = 1.0" />
    <link rel="shortcut icon" type="image/x-icon" data-su_favicon_route="href" href="favicon.png" />
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
</head>

<body>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <div class="media_header_grid_02">
                <div class="top" style="padding-right: 20%;">
                    <a href="https://github.com/crev-dev/cargo-crev" target="_blank">
                        <img style="width:100%;max-width:300px;min-width:150px;" alt="logo" data-su_img_src_logo="src" src="../web_content_folder/images/Logo_02.png" />
                    </a>
                </div>
                <div class="middle">
                    <p class="big bold"><a class="white" href="/rust-reviews/">Rust code reviews</a></p>
                    <p class="small white">Cryptographically verifiable, distributed, dependency reviews.</p>
                    <h3 class="h3y">People of Rust</h3>
                </div>
                <div class="middle media_right">
                    <h3>reviews from <a class="white" href="https://github.com/crev-dev/cargo-crev" target="_blank">cargo-crev</a></h3>
                    <div class="media_right"><a class="white" href="https://www.rust-lang.org/" target="_blank">rust-lang.org</a></div>
                    <div class="media_right"><a class="white" href="https://lib.rs/" target="_blank">lib.rs</a></div>
                    <div class="media_right"><a class="white" href="https://crates.io/" target="_blank">crates.io</a></div>
                    <div class="media_right"><a class="white" href="https://docs.rs/" target="_blank">docs.rs</a></div>
                </div>
            </div>
            <p class="media_portrait_visible blink red">Please, use mobile in landscape.</p>
        </div>
    </div>
    <div class="container_0 ">
        <div class="container0_content_not_grid ">
            <p>I think it is important to recognize who are the People of Rust.</p>
            <p>Yes, in the end we must trust only the code that we are compiling in our project.</p>
            <p>But that is a tough goal.</p>
            <p>Pragmatically, there are some points where we must just decide to trust or not to trust.</p>
            <p>Do we trust the rust compiler that it will not build something that we didn't want?</p>
            <p>I suppose we trust it. If not the story ends here.</p>
            <p>Do we trust the source of the Rust compiler where we download it?</p>
            <p>I suppose we trust it. If not the story ends here.</p>
            <p>Do we trust the people that write code for the Rust compiler?</p>
            <p>I suppose we trust them. If not the story ends here.</p>
            <p>There is not only the Rust compiler. There is the standard library, the crates.io, the official tooling,...</p>
            <p>My conclusion is that we trust the official stuff/staff of Rust. Do we?</p>
            <p>The same authors of official Rust products, they have also personal projects. Do we trust them?</p>
            <p>I trust them, because they are real known people with a good reputation.</p>
            <p>Sure their code can have bugs and flaws, but the person behind it is responsible and with integrity.</p>
            <p>He/she has demonstrated in his/her work that they are trustworthy.</p>
            <p>I don't know this people personally, but I see their work, their presentations on conferences, their presence in discussions.</p>
            <p>People are delicate beings. I don't intend to show disrespect or offend nobody. My intentions are good. </p>
            <p>Please help me to make a list of people that are well known in the Rust community and help us noobs to trust them.</p>
            <p>The sort order is just how I found them around the internet. </p>
            <p>I will not copy here all the names I found. There is a lot of people out there.</p>
            <p>I will add only people I personally recognize from discussions, projects and conference videos and that I think they could be important for the cargo-crev project and the web-of-trust.</p>
        </div>
    </div>
    <div class="container_0 ">
        <div class="container0_content_not_grid ">
            <pre>
Official People of Rust from the rust-lang.org

Carol Nichols - GitHub: carols10cents
Mark Rousskov - GitHub: Mark-Simulacrum
Nick Cameron - GitHub: nrc
Steve Klabnik - GitHub: steveklabnik - core team, the book
Manish Goregaokar - GitHub: Manishearth
Niko Matsakis - GitHub: nikomatsakis - core team
Pietro Albini - GitHub: pietroalbini - core team
Without Boats - GitHub: withoutboats - async
Josh Triplett - GitHub: joshtriplett
Mazdak Farrokhzad - GitHub: Centril
Andrew Gallant - GitHub: BurntSushi - ripgrep
Andre Bogus - GitHub: llogiq
Joe Clay - GitHub: 17cupsofcoffee
Tony Arcieri - GitHub: tarcieri - Secure Code
Nick Fitzgerald - GitHub: fitzgen - webassembly
Brian Anderson - GitHub: brson

other People of Rust
Alex Crichton - GitHub: alexcrichton - mozilla
David Tolnay - GitHub: dtolnay - serde

People of Crev
Dawid Ciężarkiewicz - GitHub: dpc - crev author
Kornel - GitHub: kornelski - lib.rs author

Groups
github:rust-lang:libs
github:rust-lang-nursery:log-owners
github:rust-random:maintainers
github:rust-lang-nursery:libs
            </pre>
        </div>
    </div>
    <div class="container_0 ">
        <div class="container0_content_not_grid ">
            <p>GitHub repository:
                <a class="white break-all " target="blank " href="https://github.com/LucianoBestia/cargo_crev_web/ ">
                    https://github.com/LucianoBestia/cargo_crev_web/
              </a>
            </p>
            <p>Version:
                <!--st_cargo_crev_web_version-->2020.05.05</p>
        </div>
    </div>

</body>
<script>
    new ClipboardJS("[data-clipboard-text]");
</script>

</html>