<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>new review</title>
    <meta name="Description" content="web app for viewing reviews from cargo-crev" />
    <link rel="stylesheet" data-su_css_route="href" href="../web_content_folder/css/rust-reviews.css" />
    <meta name="viewport" content="width = device-width,initial-scale = 1.0" />
    <link rel="shortcut icon" type="image/x-icon" data-su_favicon_route="href" href="../favicon.png" />
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
</head>

<body>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <div style="display: grid;grid-template-columns: 60% 40% ;">
                <div class="middle">
                    <p class="big bold"><a class="white" href="/rust-reviews/">
                    Rust code reviews</a> - <span class="yellow">new review helper</span></p>
                </div>
                <div class="middle right">
                    <h3>reviews from <a class="white" href="https://github.com/crev-dev/cargo-crev" target="_blank">cargo-crev</a></h3>
                </div>
            </div>
            <pre>
Please, first read prerequisite down the page.
- run the bash command (Click to Copy) <code 
data-st_bash_command="data-clipboard-text" data-clipboard-text="Click to Copy" 
data-tooltip="Click to Copy" >$ <!--st_bash_command-->cargo crev crate review -u --skip-activity-check reader_for_microxml 1.1.11</code>.
- type your crev passphrase to unlock
- VIM will open in <code>Normal mode</code>
- delete the first cc 11 lines with repeating the VIM shortcut <code>dd</code> for delete line 

- in the browser on this webpage write a review 
- click on Export to yaml
- click on the yaml to <code>copy</code> on click the yaml text</pre>
        </div>
    </div>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <form action="/rust-reviews/review_new/#anchor" method="POST">
                <input style="display:none" type="text" name="package_name" data-st_package_name="value" value="" />
                <input style="display:none" type="text" name="package_version" data-st_package_version="value" value="" />
                <pre>
<a name="anchor">review:</a>
    thoroughness: <input type="radio" name="thoroughness" value="none" data-sb-checked="sb_thoroughness_none" checked="checked" />none     <input type="radio" name="thoroughness" value="low" data-sb-checked="sb_thoroughness_low" checked="checked"/><span class="c_low">low     </span><input type="radio" name="thoroughness" value="medium" data-sb-checked="sb_thoroughness_medium" checked="checked"/><span class="c_medium">medium     </span><input type="radio" name="thoroughness" value="high" data-sb-checked="sb_thoroughness_high" checked="checked" /><span class="c_high">high     </span>
    understanding: <input type="radio" name="understanding" value="none" data-sb-checked="sb_understanding_none" checked="checked"/>none     <input type="radio" name="understanding" value="low" data-sb-checked="sb_understanding_low" checked="checked"/><span class="c_low">low     </span><input type="radio" name="understanding" value="medium" data-sb-checked="sb_understanding_medium" checked="checked"/><span class="c_medium">medium     </span><input type="radio" name="understanding" value="high" data-sb-checked="sb_understanding_high" checked="checked"/><span class="c_high">high     </span>
    rating: <input type="radio" name="rating" value="none" data-sb-checked="sb_rating_none" checked="checked"/><span class="c_none">none     </span><input type="radio" name="rating" value="negative" data-sb-checked="sb_rating_negative" checked="checked"/><span class="c_negative">negative     </span><input type="radio" name="rating" value="neutral" data-sb-checked="sb_rating_neutral" checked="checked"/><span class="c_neutral">neutral     </span><input type="radio" name="rating" value="positive" data-sb-checked="sb_rating_positive" checked="checked"/><span class="c_positive">positive     </span><input type="radio" name="rating" value="strong" data-sb-checked="sb_rating_strong" checked="checked"/><span class="c_strong">strong     </span>
</pre>
                <textarea style="height: 220px;" name="comment"><!--st_comment-->Comment</textarea>
                <input class="button" style="width: 200px;height: 60px;" type="submit" value="Export to yaml" />
                <p><code>Click to Copy</code> this yaml text and paste it in your VIM editor:</p>
                <textarea readonly="readonly" style="height: 170px;" data-st_yaml_text="data-clipboard-text" data-clipboard-text="Click to Copy" data-tooltip="Click to Copy"><!--st_yaml_text-->yaml_text</textarea>
            </form>
        </div>
    </div>

    <div class="container_0">
        <div class="container0_content_not_grid">
            <pre>
- now in VIM type <code>i</code> to go into <code>VIM Insert Mode</code> 
- mouse <code>right click</code> to paste 
- <code>Esc</code> to go to <code>VIM Normal mode</code>
- type <code>:</code> to go into <code>VIM command mode</code>
- type <code>wq</code> to write and quit 
- now the encryption will kick in 
- Done. Easy?!

Let's repeat it faster, only the part in Vim:
<code>dd * 10 i r_click Esc :wq</code>
It is not so bad.

- check your new review locally <code data-st_cmd_query="data-clipboard-text" data-clipboard-text="Click to Copy" data-tooltip="Click to Copy">$ <!--st_cmd_query-->cargo crev repo query review reader_for_microxml</code>
- publish (push to GitHub) <code data-clipboard-text="cargo crev publish" data-tooltip="Click to Copy">$ cargo crev publish</code>

Now everybody can fetch and view your crev review.
On this web site the new review will be fetched once in the next hour.

By the way when you panic in VIM, type <code>Esc</code> and <code>:q</code> or <code>:q!</code> to exit or quit VIM ;-) 
</pre>
        </div>
    </div>

    <div class="container_0">
        <div class="container0_content_not_grid">
            <pre>
<span class="white">Prerequisites</span> to write new <code>crev reviews</code> for a crate version:
- on your developer machine install <code>$ cargo install cargo-crev</code>,
- on GitHub or GitLab fork the repo <code>https://github.com/crev-dev/crev-proofs</code> 
- clone it to your local machine
- create your personal crev ID <code>$ cargo crev id new</code>
Everything is encrypted, so be careful with the secrets, keys, passphrase,... There's no way to recover them.
Read the <code><a href="https://github.com/crev-dev/cargo-crev/blob/master/cargo-crev/src/doc/getting_started.md">Get Start Guide</a></code> to know better. 
</pre>
        </div>
    </div>
    <div class="container_0 ">
        <div class="container0_content_not_grid ">
            <p>GitHub repository:
                <a class="white break-all " target="_blank " href="https://github.com/LucianoBestia/cargo_crev_web/ ">
                        https://github.com/LucianoBestia/cargo_crev_web/
                  </a>
            </p>
            <p>Version:
                <!--st_cargo_crev_web_version-->2020.05.05</p>
        </div>
    </div>
</body>

<script>
    new ClipboardJS("[data-clipboard-text]");
</script>

</html>