<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>your personal reviews</title>
    <meta name="Description" content="web app for viewing reviews from cargo-crev" />
    <link rel="stylesheet" data-su_css_route="href" href="../web_content_folder/css/rust-reviews.css" />
    <meta name="viewport" content="width = device-width,initial-scale = 1.0" />
    <link rel="shortcut icon" type="image/x-icon" data-su_favicon_route="href" href="../favicon.png" />
    <script src="/rust-reviews/script/clipboard.min.js"></script>
</head>

<body>
    <div class="container_0">
        <ul class="nav">
            <a href="/rust-reviews/">
                <li class="nav" id="button_home">Home</li>
            </a>
            <a href="/rust-reviews/crates/">
                <li class="nav" id="button_crates">List of crates</li>
            </a>
            <a href="/rust-reviews/reviewers/">
                <li class="nav" id="button_reviewers">List of reviewers</li>
            </a>
            <a href="/rust-reviews/people_of_rust/">
                <li class="nav" id="button_people_of_rust">People of Rust</li>
            </a>
            <a href="/rust-reviews/your_personal_reviews/">
                <li class="nav" id="button_your_personal_reviews">Your personal reviews</li>
            </a>
        </ul>
        <div class="container0_content_not_grid">
            <div class="media_header_grid_02">
                <div class="top" style="padding-right: 20%;">
                    <a href="https://web.crev.dev/rust-reviews/crates/" target="_blank">
                        <img style="width:100%;max-width:300px;min-width:150px;" alt="logo" data-su_img_src_logo="src" src="../web_content_folder/images/Logo_02.png" />
                    </a>
                </div>
                <div class="middle">
                    <p class="big bold"><a class="c_link_1" href="/rust-reviews/">Rust crates reviews</a></p>
                    <p class="small c_white">Cryptographically verifiable, distributed dependency reviews</p>
                    <p class="big bold c_yellow">Your personal reviews</p>
                </div>
                <div class="middle media_right">
                    <div class="media_right">Rust links:</div>
                    <div class="media_right"><a class="c_link_1" href="https://www.Rust-lang.org/" target="_blank">Rust-lang.org</a></div>
                    <div class="media_right"><a class="c_link_1" href="https://lib.rs/" target="_blank">lib.rs</a></div>
                    <div class="media_right"><a class="c_link_1" href="https://crates.io/" target="_blank">crates.io</a></div>
                    <div class="media_right"><a class="c_link_1" href="https://docs.rs/" target="_blank">docs.rs</a></div>
                </div>
            </div>
            <p>Your personal reviews are the most important.</p>
        </div>
    </div>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <p>You want to know that the dependencies your program is using are not malicious or unsound.</p>
            <p>Ideally, you want to personally review every crate in you dependencies.</p>
            <p>If you have a boss, he will sooner or later ask you to show your reviews for all that dependencies.</p>
            <p>With the application <a class="c_link_2" href="https://github.com/bestia-dev/cargo_crev_reviews_workspace/tree/main/cargo_crev_reviews" target="_blank">cargo_crev_reviews</a> you have a basic tool to do that.</p>
        </div>

        <div class="container0_content_not_grid">
            <p>Write cargo-crev reviews in a Graphical User Interface with a cross-platform app written in full-stack Rust.</p>
            <p>Install cargo_crev_reviews in Linux or WSL on Windows:</p>
            <code>$ cargo install cargo_crev_reviews</code>
            <p>Go to a Rust project directory where the Cargo.toml file is, and start the program:</p>
            <code>$ cd ~/rustprojects/your-project-name</code>
            <br/><code>$ cargo_crev_reviews</code>
            <p>and follow the simple instructions...</p>
        </div>
        <div class="container0_content_not_grid">
            <p>Watch a short video on youtube:</p>
            <p class="c_link_2"><a href="https://www.youtube.com/watch?v=8auYVesj6wc" target="_blank">https://www.youtube.com/watch?v=8auYVesj6wc</a></p>

            <p>Inspect the open source code on github:</p>
            <p class="c_link_2"><a href="https://github.com/bestia-dev/cargo_crev_reviews_workspace/tree/main/cargo_crev_reviews" target="_blank">https://github.com/bestia-dev/cargo_crev_reviews_workspace/tree/main/cargo_crev_reviews</a></p>

        </div>
    </div>
    <div>
        <div class="container0_content_not_grid ">
            <p class="small">© bestia.dev 2022, MIT License, Version:
                <!--st_cargo_crev_web_version-->2022.05.05
                <img src="https://bestia.dev/webpage_hit_counter/get_svg_image/318255863.svg"/>
            </p>
            <p class="small">Open source repository for this web app:
                <a class="c_link_1 break-all" target="blank " href="https://github.com/bestia-dev/cargo_crev_web/ ">
                        https://github.com/bestia-dev/cargo_crev_web/
                  </a>
            </p>
        </div>
    </div>

</body>

<script>
    new ClipboardJS("[data-clipboard-text]");
</script>

</html>