<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>reserved folder</title>
    <meta name="Description" content="web app for viewing reviews from cargo-crev" />
    <link rel="stylesheet" data-st-href="st_css_route" href="../../web_content_folder/css/cargo_crev_web.css" />
    <meta name="viewport" content="width = device-width,initial-scale = 1.0" />
    <link rel="shortcut icon" type="image/x-icon" data-st-href="st_favicon_route" href="favicon.png" />
</head>

<body>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <div style="display: grid;grid-template-columns: 40% 60% ;">
                <div class="middle">
                    <h2><a class="white" href="/cargo_crev_web/">
                            cargo_crev_web</a></h2>
                </div>
                <div class="middle right">
                    <h3>reviews from <a class="white" href="https://github.com/crev-dev/cargo-crev" target="_blank">cargo-crev</a></h3>
                </div>
            </div>
            <div style="display: grid;grid-template-columns: 70% 15% 15%;">
                <div>
                    <h3 class="h3y"><a href="/cargo_crev_web/reserved_folder/">reserved_folder</a></h3>
                </div>
                <div class="right"><a class="white" href="https://lib.rs/" target="_blank">lib.rs</a></div>
                <div class="right"><a class="white" href="https://crates.io/" target="_blank">crates.io</a></div>
            </div>
        </div>
    </div>
    <div class="container_0">
        <div class="container0_content_not_grid">
            <div class="menu_item">Actions:</div>
            <div class="menu_item"><a class="white" href="/cargo_crev_web/reserved_folder/list_fetched_author_id/">list_fetched_author_id</a></div>
            <div class="menu_item"><a class="white" href="/cargo_crev_web/reserved_folder/blacklisted_repos/">TODO: incomplete, obsolete or blacklisted repos</a></div>
            <div class="menu_item"><a class="white" href="/cargo_crev_web/reserved_folder/list_new_author_id/">list_new_author_id from https://gitlab.com/crev-dev/auto-crev-proofs</a></div>
            <div class="menu_item"><a class="white" href="/cargo_crev_web/reserved_folder/fetch_new_reviews/">TODO: fetch_new_reviews</a></div>
            <div class="menu_item"><a class="white" href="/cargo_crev_web/reserved_folder/reindex_after_fetch_new_reviews/">TODO: reindex_after_fetch_new_reviews</a></div>
        </div>
    </div>
    <!--sb_is_reindex_after_fetch_new_reviews-->
    <div class="container_0">
        <div class="container0_content_grid_0" style="grid-template-columns: auto ;">
            <div class="grid0_h_c bold" title="ordinal number">
                <!--st_reindex_after_fetch_new_reviews-->reindex finished</div>
        </div>
    </div>
    <!--sb_is_list_fetched_author_id-->
    <div class="container_0">
        <div class="container0_content_grid_0" style="grid-template-columns: 10% 30% 30% 30% ;">
            <div class="grid0_h_c bold" title="ordinal number">o</div>
            <div class="grid0_h_c bold">author_name</div>
            <div class="grid0_h_c bold">author_id</div>
            <div class="grid0_h_c bold">author_url</div>

            <!--stmplt_authors start-->
            <div class="grid0_c" title="ordinal_number">
                <!--st_ordinal_number-->1</div>
            <div class="grid0_c bold white">
                <a data-st-href="st_author_route" href="">
                    <!--st_author_name_1-->author_name</a>
            </div>
            <div class="grid0_c break-all">
                <!--st_author_id-->verylongverylongverylongverylongverylongverylongverylongverylongverylongverylongverylongverylongverylong
            </div>
            <div class="grid0_c break-all">
                <a class="white" target="_blank" data-st-href="st_author_url" href=" ">
                    <!--st_author_url-->verylongverylongverylongverylongverylongverylongverylongverylongverylongverylongverylongverylong
                </a>
            </div>
            <!--stmplt_authors end-->
        </div>
    </div>
    <!--sb_list_new_author_id-->
    <div class="container_0">
        <div class="container0_content_grid_0" style="grid-template-columns: 10% 10% 80% ;">
            <div class="grid0_h_c bold" title="ordinal number">o</div>
            <div class="grid0_h_c bold" title="add to trusted authors">add</div>
            <div class="grid0_h_c bold">author_name</div>

            <!--stmplt_authors_new start-->
            <div class="grid0_c" title="ordinal_number">
                <!--st_ordinal_number-->1</div>
            <div class="grid0_c">
                <a class="white" target="_blank" data-st-href="st_add_author_url_route" href=" ">
                    add
                </a>
            </div>
            <div class="grid0_c break-all">
                <a class="white" target="_blank" data-st-href="st_author_url_2" href=" ">
                    <!--st_author_name_2-->authorName
                </a>
            </div>
            <!--stmplt_authors_new end-->
        </div>
    </div>
    <!--sb_add_author_url-->
    <div class="container_0">
        <div class="container0_content_grid_0" style="grid-template-columns: auto ;">
            <div class="grid0_h_c bold" title="ordinal number">
                <!--st_add_author_url-->add author_finished</div>
        </div>
    </div>
</body>

</html>