<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>crev_query</title>
    <meta name="Description" content="web app for querying reviews from cargo-crev" />
    <link rel="stylesheet" data-t-href="t_css_href"  href="../css/cargo_crev_web.css" />
    <meta name="viewport" content="width = device-width,initial-scale = 1.0" />
    <link rel="shortcut icon" type="image/x-icon" data-t-href="t_favicon_href" href="../favicon.png" />
</head>

<body>
    
        <div style="display: grid;grid-template-columns: 40% 60% ;">
            <div class="middle"><h2>
                number_of_reviews: <!--t_number_of_reviews-->33</h2></div>
            <div class="middle right"><h3 >number_of_authors:<!--t_number_of_authors-->12</h3></div>
        </div>
        
</body>

</html>