<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>crev info order_by_author</title>
    <meta name="Description" content="web app for querying reviews from cargo-crev" />
    <link rel="stylesheet" data-t-href="t_css_href" href="../cargo_crev_web_root_folder/css/cargo_crev_web.css" />
    <meta name="viewport" content="width = device-width,initial-scale = 1.0" />
    <link rel="shortcut icon" type="image/x-icon" data-t-href="t_favicon_href" href="favicon.png" />
</head>

<body>
    <div class="summary_container">
        <div style="padding: 20px;">
            <div style="display: grid;grid-template-columns: 40% 60% ;">
                <div class="middle">
                    <h2><a style="color:white" href="/cargo_crev_web/" target="_blank">
                            cargo_crev_web</a></h2>
                </div>
                <div class="middle right">
                    <h3>query reviews from <a style="color:white" href="https://github.com/crev-dev/cargo-crev" target="_blank">cargo-crev</a></h3>
                </div>
            </div>
            <div style="display: grid;grid-template-columns: 70% 15% 15%;">
                <div>
                    <h3 class="yellow">number of reviews grouped by authors</h3>
                </div>
                <div class="right"><a style="color:white" href="https://lib.rs/" target="_blank">lib.rs</a></div>
                <div class="right"><a style="color:white" href="https://crates.io/" target="_blank">crates.io</a></div>
            </div>
        </div>
        <div class="crate_summary" style="display: grid;grid-template-columns: auto 40% auto auto auto auto auto auto auto auto auto auto auto;">
            <div class="crate_summary_cell bold" title="ordinal number">o</div>
            <div class="crate_summary_cell bold">author</div>
            <div class="crate_summary_cell bold" title="reviews count">c</div>
            <div class="crate_summary_cell bold" title="unique crate count">h</div>
            <div class="crate_summary_cell bold greener" title="rating strong">S
            </div>
            <div class="crate_summary_cell bold green " title="rating positive">
                P</div>
            <div class="crate_summary_cell bold" title="rating neutral">E</div>
            <div class="crate_summary_cell bold red" title="rating negative">N
            </div>
            <div class="crate_summary_cell bold" title="rating none">-
            </div>
            <div class="crate_summary_cell"></div>
            <div class="crate_summary_cell yellow" title="alternatives">v</div>
            <div class="crate_summary_cell orange" title="issues">i</div>
            <div class="crate_summary_cell red" title="advisories">a</div>

            <!--template_author_summary start-->
            <div class="version_summary_cell bold" title="ordinal_number">
                <!--t_ordinal_number-->1</div>
            <div class="version_summary_cell bold">
                <a target="_blank" data-t-href="t_author_url" href="">
                    <!--t_author-->author</a>
            </div>
            <div class="version_summary_cell bold" title="reviews count">
                <!--t_count_of_reviews-->7</div>
            <div class="version_summary_cell bold" title="unique crates">
                <!--t_unique_crates-->7</div>
            <div class="version_summary_cell bold greener" title="rating strong">
                <!--t_count_of_rating_strong-->2</div>
            <div class="version_summary_cell bold green " title="rating positive">
                <!--t_count_of_rating_positive-->3</div>
            <div class="version_summary_cell bold" title="rating neutral">
                <!--t_count_of_rating_neutral-->2</div>
            <div class="version_summary_cell bold red" title="rating negative">
                <!--t_count_of_rating_negative-->1</div>
            <div class="version_summary_cell bold red" title="rating negative">
                <!--t_count_of_rating_none-->1</div>
            <div class="version_summary_cell"></div>
            <div class="version_summary_cell yellow" title="alternatives">
                <!--t_count_of_alternatives-->2</div>
            <div class="version_summary_cell orange" title="issues">
                <!--t_count_of_issues-->1</div>
            <div class="version_summary_cell red" title="advisories">
                <!--t_count_of_advisories-->1</div>
            <!--template_author_summary end-->
        </div>
    </div>
</body>

</html>