<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>crate reviews</title>
    <meta name="Description" content="web app for reviews from cargo-crev" />
    <link rel="stylesheet" data-st-href="st_css_route" href="../../web_content_folder/css/cargo_crev_web.css" />
    <meta name="viewport" content="width = device-width,initial-scale = 1.0" />
    <link rel="shortcut icon" type="image/x-icon" data-st-href="st_favicon_route" href="../favicon.png" />
</head>

<body>
    <!--stmplt_crate_version_summary start-->
    <div class="container_0">
        <div class="container0_content_not_grid">
            <div style="display: grid;grid-template-columns: 40% 60% ;">
                <div class="middle">
                    <h2><a class="white" href="/cargo_crev_web/">
                    cargo_crev_web</a></h2>
                </div>
                <div class="middle right">
                    <h3>reviews from <a class="white" href="https://github.com/crev-dev/cargo-crev" target="_blank">cargo-crev</a></h3>
                </div>
            </div>
            <div style="display: grid;grid-template-columns: 70% 15% 15%;">
                <div>
                    <h3 class="h3y">crate:
                        <!--st_crate_name-->num-traits</h3>
                </div>
                <div class="right"><a class="white" data-st-href="st_lib_rs_url" href="https://lib.rs/crates/num-traits" target="_blank">lib.rs</a></div>
                <div class="right"><a class="white" data-st-href="st_crates_io_url" href="https://crates.io/crates/num-traits" target="_blank">crates.io</a></div>
            </div>
            Add to Cargo.toml / [dependencies] - Last reviewed version:
            <code>
                <!--st_cargo_toml_dependency-->reader_for_microxml = "0.1.6"
            </code>
        </div>
        <div class="container0_content_grid_0" style="grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;">
            <div class="grid0_h_c bold"></div>
            <div class="grid0_h_c bold" title="reviews count">c</div>
            <div class="grid0_h_c bold greener" title="rating strong">S
            </div>
            <div class="grid0_h_c bold green " title="rating positive">
                P</div>
            <div class="grid0_h_c bold" title="rating neutral">E</div>
            <div class="grid0_h_c bold red" title="rating negative">N
            </div>
            <div class="grid0_h_c"></div>
            <div class="grid0_h_c yellow" title="alternatives">v</div>
            <div class="grid0_h_c orange" title="issues">i</div>
            <div class="grid0_h_c red" title="advisories">a</div>
            <div class="grid0_h_c" title="thoroughness">t</div>
            <div class="grid0_h_c" title="understanding">u</div>

            <div class="grid0_h_c bold"><a data-st-href="st_filter_crate" href="">crate</a></div>
            <div class="grid0_h_c bold" title="reviews count">
                <a data-st-href="st_filter_crate" href="">
                    <!--st_crate_review_number-->7</a>
            </div>
            <div class="grid0_h_c bold greener" title="rating strong">
                <a data-st-href="st_filter_strong" href="">
                    <!--st_crate_rating_strong-->2</a>
            </div>
            <div class="grid0_h_c bold green " title="rating positive">
                <a data-st-href="st_filter_positive" href="">
                    <!--st_crate_rating_positive-->3</a>
            </div>
            <div class="grid0_h_c bold" title="rating neutral">
                <a data-st-href="st_filter_neutral" href="">
                    <!--st_crate_rating_neutral-->2</a>
            </div>
            <div class="grid0_h_c bold red" title="rating negative">
                <a data-st-href="st_filter_negative" href="">
                    <!--st_crate_rating_negative-->1</a>
            </div>
            <div class="grid0_h_c"></div>
            <div class="grid0_h_c yellow" title="alternatives">
                <a data-st-href="st_filter_alternatives" href="">
                    <!--st_crate_alternatives-->2</a>
            </div>
            <div class="grid0_h_c orange" title="issues">
                <a data-st-href="st_filter_issues" href="">
                    <!--st_crate_issues-->1</a>
            </div>
            <div class="grid0_h_c red" title="advisories">
                <a data-st-href="st_filter_advisories" href="">
                    <!--st_crate_advisories-->1</a>
            </div>
            <div class="grid0_h_c" title="thoroughness">
                <!--st_crate_thoroughness-->1</div>
            <div class="grid0_h_c" title="understanding">
                <!--st_crate_understanding-->1</div>
            <!--stmplt_summary_version start-->
            <!--this template will repeat, but that is knowledge of the data model -->
            <div class="grid0_c bold">
                <a data-st-href="st_filter_version" href="">
                    <!--st_version-->0.1.0</a>
            </div>
            <div class="grid0_c bold">
                <a data-st-href="st_filter_version" href="">
                    <!--st_review_number-->4</a>
            </div>
            <div class="grid0_c bold greener">
                <a data-st-href="st_filter_strong" href="">
                    <!--st_rating_strong-->1</a>
            </div>
            <div class="grid0_c bold green ">
                <a data-st-href="st_filter_positive" href="">
                    <!--st_rating_positive-->2</a>
            </div>
            <div class="grid0_c bold">
                <a data-st-href="st_filter_neutral" href="">
                    <!--st_rating_neutral-->2</a>
            </div>
            <div class="grid0_c bold red">
                <a data-st-href="st_filter_negative" href="">
                    <!--st_rating_negative-->1</a>
            </div>
            <div class="grid0_c"></div>
            <div class="grid0_c yellow">
                <a data-st-href="st_filter_alternatives" href="">
                    <!--st_alternatives-->1</a>
            </div>
            <div class="grid0_c orange">
                <a data-st-href="st_filter_issues" href="">
                    <!--st_issues-->0</a>
            </div>
            <div class="grid0_c red">
                <a data-st-href="st_filter_advisories" href="">
                    <!--st_advisories-->0</a>
            </div>
            <div class="grid0_c">
                <!--st_thoroughness-->1</div>
            <div class="grid0_c">
                <!--st_understanding-->1</div>
            <!--stmplt_summary_version end-->
        </div>
    </div>
    <!--stmplt_crate_version_summary end-->
    <!--stmplt_reviews start-->
    <div class="container_0">
        <div class="review_header_0" style="grid-template-columns: auto auto auto auto auto;">
            <div class="review_header0_cell">
                <!--st_crate_name_version-->num-traits 0.2.11</div>
            <div data-st-class="st_rating_class_color" class="review_header0_cell green bold" title="rating">
                <!--st_review_rating-->positive</div>
            <div class="review_header0_cell">
                <!--st_review_date-->2020-01-18</div>
            <div class="review_header0_cell white">
                <a class="white" data-st-href="st_author_route" href="">
                    <!--st_review_author-->author_name</a>
            </div>
            <div class="review_header0_cell" title="thoroughness understanding">
                <!--st_crate_thoroughness_understanding-->none high</div>
        </div>
        <!--sb_has_alternatives-->
        <div class="review_info_header color_alternative" style="grid-template-columns: auto auto auto;">
            <div class="review_header0_cell">alternative:</div>
            <div class="review_header0_cell">
                <a target="_blank" data-st-href="st_alternative_source" href="https://github.com/rust-num/num-traits/advisory/125">
                    <!--st_alternative_source-->alternative.source </a>
            </div>
            <div class="review_header0_cell">
                <!--st_alternative_name-->alternative.name</div>
        </div>
        <!--stmplt_issues start-->
        <div class="review_info_header color_issue" style="grid-template-columns: auto auto auto auto;">
            <div class="review_header0_cell">issues:</div>
            <div class="review_header0_cell">
                <a target="_blank" data-st-href="st_issue_id" href="https://github.com/rust-num/num-traits/advisory/125">
                    https://github.com/rust-num/num-traits/issues/125</a></div>
            <div class="review_header0_cell" title="severity">
                <!--st_issue_severity-->medium</div>
            <div class="review_header0_cell" title="comment">
                <!--st_issue_comment-->comment</div>
        </div>
        <!--stmplt_issues end-->
        <!--sb_has_advisories-->
        <div class="review_info_header color_advisory" style="grid-template-columns: auto auto auto auto;">
            <div class="review_header0_cell">advisories:</div>
            <div class="review_header0_cell">
                <a target="_blank" data-st-href="st_advisories_ids" href="https://github.com/rust-num/num-traits/advisory/125">
                    <!--st_advisories_ids-->https://github.com/rust-num/num-traits/advisory/125 </a>
            </div>
            <div class="review_header0_cell" title="severity">
                <!--st_advisories_severity-->medium</div>
            <div class="review_header0_cell" title="range">
                <!--st_advisories_range-->major</div>
        </div>
        <!--sb_has_old_advisory-->
        <div class="review_info_header color_advisory" style="grid-template-columns: auto auto auto;">
            <div class="review_header0_cell">advisory:</div>
            <div class="review_header0_cell" title="affected">
                <!--st_advisory_affected-->medium</div>
            <div class="review_header0_cell" title="critical">
                <!--st_advisory_critical-->major</div>
        </div>
        <div class="review_comment" style="word-wrap: break-word;overflow-wrap:break-word;">
            <!--st_review_comment-->num-traits provides traits for writing code generic over numeric types and implementations for built-in numeric types. I exclusively reviewed unsafe code. num-traits uses some instances of unsafe code. Each unsafe block has a comment explaining
            why it is required and why it is sound. The blocks are easy to understand and check locally.
        </div>
    </div>
    <!--stmplt_reviews end-->
    <!--stmplt_not_for_render start-->
    <!--this div is here only for the graphical designer 
            to see how it looks to have 2 or more reviews 
        In runtime it is not rendered.-->
    <div class="container_0">
        <div class="review_header_0" style="grid-template-columns: auto auto auto auto auto;">
            <div class="review_header0_cell">num-traits 0.2.6</div>
            <div class="review_header0_cell green bold">positive</div>
            <div class="review_header0_cell">2019-08-30</div>
            <div class="review_header0_cell white">Heroic_User</div>
            <div class="review_header0_cell">medium high</div>
        </div>

        <div class="review_comment">Not quite ready for untrusted input due to panics and not fuzzed. Minor soundness concerns for floating point operations, rooted in Rust language `as` operator not having fully specified behavior (yet). All is well for the integer part of the
            library.
        </div>
    </div>
    <!--stmplt_not_for_render end-->
</body>

</html>