/* region: basics */

html {
    font-family: sans-serif;
    max-width: 1200px;
    min-width: 300px;
    width: 100%;
    /*margin auto means centered horizontally*/
    margin: auto;
    padding-right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    background-color: #24292E;
    line-height: 1.5;
    color: #FBF462;
    /*This is the base font-size. All other font-size 
  use rem units that are
  relative to this font-size.*/
    /*width greater than 600 px*/
    font-size: 34px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
    max-width: 1200px;
    margin: 0;
    padding: 0;
    font-size: 60%;
    line-height: 1.5;
    color: #9DA5B4;
    background-color: #24292E;
}


/*CSS Reset*/

div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    border-style: none;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
    background: transparent;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 16px;
}

p {
    line-height: 1.5;
}

pre {
    padding: 0;
    margin: 0;
}

code {
    padding: .1em .4em;
    margin: 0;
    font-size: 85%;
    background-color: #1B1D23;
    color: #78C379;
    border-radius: 3px;
    font-family: Consolas, Liberation Mono, Courier, monospace;
}

input[type=text] {
    width: 600px;
    border: 1px;
    border-radius: 3px;
    padding: 2px;
    font-size: 100%;
    font-family: Consolas, Liberation Mono, Courier, monospace;
}

textarea {
    width: 900px;
    height: 120px;
    border: 1px;
    border-radius: 3px;
    padding: 2px;
    font-size: 100%;
    font-family: Consolas, Liberation Mono, Courier, monospace;
}


/* endregion: basics */


/* region: css classes */


/* When concatenating names that makes it hard to refactor later.
example if both `grid` and `grid_cell` start with the same word `grid`.
So I mandatory add a number. 
But to make them different to the searcher, 
the first one have underscore+number:               container0_content_grid_0
and the second one only number without underscore:  grid0_c
A small difference to help search and replace refactoring.
*/

.container0_content_grid_0 {
    width: 100%;
    display: grid;
    border-radius: 5px;
    border: 0.2px solid #000;
}

.grid0_h_c {
    /* grid0 header cell */
    background-color: #181A1F;
    border: 0.2px solid #000;
    text-align: center;
}

.grid0_c {
    /* grid0 cell */
    border: 0.2px solid #000;
    text-align: center;
}

.container_0 {
    display: grid;
    background-color: #333842;
    border: 1px solid #181A1F;
    border-radius: 5px;
    margin: 2%;
}

.container0_content_not_grid {
    padding: 20px;
}

.review_header_0 {
    display: grid;
    justify-content: space-around;
    background-color: #181A1F;
    padding: 10px;
}

.review_header0_cell {
    padding: 0px;
    /*border: 1px solid #000;*/
    text-align: center;
}

.review_info_header {
    display: flex;
    justify-content: space-around;
    background-color: #1B1D23;
    padding: 10px;
}

.review_comment {
    padding: 20px;
    padding-top: 20px;
    font-family: sans-serif;
    font-size: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-line;
    overflow: hidden;
}

.h3y {
    /*h3 yellow ?/
    /*The .class_name is repeated in css to take different properties.*/
    background: transparent;
}

.h2u {
    /*h2 underline */
    /*The .class_name is repeated in css to take different properties.*/
    background: transparent;
    margin-top: 20px;
}


/* endregion: css classes */


/* region: colors and attributes */

.break-all {
    word-break: break-all;
}

.bold {
    font-weight: bold;
}

.white {
    color: white;
}

a:link.white,
a:visited.white {
    color: white;
}

a:hover.white,
a:active.white {
    color: white;
}

.dark_white .h2u {
    color: rgb(194, 193, 193);
}

.black {
    color: black;
}

.greener,
.c_strong,
.c_high,
.sc_low {
    color: Chartreuse;
}

.green,
.c_positive {
    color: green;
}

.yellow,
.alternative,
.sc_medium,
.h3y {
    color: yellow;
}

.orange,
.c_medium,
.c_neutral,
.color_issue {
    color: orange;
}

.red,
.c_negative,
.c_low,
.sc_high,
.color_advisory {
    color: red;
}

div.middle {
    display: grid;
    align-items: center;
}

div.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.right {
    text-align: right;
}

.under_line,
.h2u {
    border-bottom: 1px solid #eaecef;
}

.big {
    font-size: 140%;
}

.small {
    font-size: 80%;
}


/* endregion: colors and attributes */